<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Blog</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.38/system.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.1/require.min.js"></script>
</head>
<body>
This is teipub.io blog!!! <strong><span th:text="${name}"></span></strong>
<script>
    System.config({
        transpiler: "ts",
        packages: {
            "src": {
                "defaultExtension": "ts",
                "meta": {
                    "*.ts": {
                        "loader": "ts"
                    }
                }
            }
        }
    });

    // loads /js/main.js
    SystemJS.import('/ts/Hello.js');
</script>
</body>
</html>